[submodule "projects/bash3boilerplate"]
	path = projects/bash3boilerplate
	url = https://github.com/kvz/bash3boilerplate
[submodule "bash-guide/pure-bash-bible"]
	path = bash-guide/pure-bash-bible
	url = https://github.com/dylanaraps/pure-bash-bible
[submodule "bash-guide/bash-guide"]
	path = bash-guide/bash-guide
	url = https://github.com/Idnan/bash-guide
[submodule "bash-guide/awesome-bash"]
	path = bash-guide/awesome-bash
	url = https://github.com/awesome-lists/awesome-bash
